annotate-image {
  display:grid;
  grid-template: 
    "header header"  auto 
    "nav    svg"     1fr 
  /  1fr    5fr;
  grid-gap: 1em;
}

annotate-image header {
  grid-area: header;
  display: flex;
  align-items: baseline;
}

annotate-image header h1 {
  flex: 1;
}

annotate-image svg {
  grid-area: svg;
  border: 2px solid;
}

annotate-image nav {
  align-content: start;
  display: flex;
  flex-direction: column;
}

annotate-image nav .controls {
  flex: 1;
  display: grid;
  align-content: start;
}

annotate-image section.annotate {
  display: none;
}

